# Postawy języka Python

W tym zeszycie przyjrzymy się składnii języka i fragmentom z jakich zbudowany jest każdy kod w języku Python. Przegląd ten jest daleki od kompletności, ale ma dać pojęcie o tym co możemy spotkać w kodzie, z którym pracujemy.

---
## Bloki
Spróbujmy przeczytać poniższy kod jakby to był język angielski.

In [1]:
a= 10
b= 15
print(a+b)

25

In [13]:
if 5>2:
    print("To prawda, że 5>2.")
else:
    print("To fałsz, że 5>2.")

To prawda, że 5>2.

In [15]:
i= 0
suma= 0.
while i<10:
    print("Teraz i = ",i)
    suma= suma + i
    i = i+1
print(suma)

Teraz i =  0
Teraz i =  1
Teraz i =  2
Teraz i =  3
Teraz i =  4
Teraz i =  5
Teraz i =  6
Teraz i =  7
Teraz i =  8
Teraz i =  9
45.0

In [16]:
N= 10
M= 10
i,j= 1,1
multiplication_table= []
while i <= N:
    next_row_of_multiplicable_table= []
    while j <= M:
        next_row_of_multiplicable_table.append(i*j)
        j= j+1
    i= i+1
    j= 1
    print(next_row_of_multiplicable_table)
    multiplication_table.append(next_row_of_multiplicable_table)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [17]:
print(multiplication_table)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

* **Ważne są wcięcia: 1, 2, 3 spacje - wszystko jedno, tylko że wszędzie tyle samo!!!**
* Nie **Tab** - na szczęście w praktyce większość edytorów zastępuje Tab spacjami.

---
## Zmienne

* Zmienne mają przpisaną wartość.
* Wartości mają typ.
* Zmienne "żyją" w całym zeszycie programu jupyter, jeżeli już zostały utworzone. Chyba, że posidają zakres ograniczony do pewnego bloku kodu np. funkcji.
* Zmienne przechowują w kodzie wszystkie informacje potrzebne do prowadzenia obliczeń.

In [19]:
a= 10
print(a)

10

In [20]:
type(a)

int

In [25]:
print(a)

15.0996

Wartości i typy(!) zmiennych można zmieniać.

In [22]:
a = 15.0996

In [23]:
type(a)

float

In [24]:
print(a)

15.0996

Zmienne typu `string`, napisy:

In [27]:
a= "Ala ma kota"
print(a)

Ala ma kota

In [28]:
type(a)

str

In [29]:
print(a[0])

A

In [30]:
print(a[0:5])

Ala m

In [31]:
print(a.replace("Ala",'Krzyś'))

Krzyś ma kota

In [32]:
print("Pierwszy wiersz,\n Drugi wiersz\nTrzeci")

Pierwszy wiersz,
 Drugi wiersz
Trzeci

In [33]:
x= float("3.32")
print(x, type(x))

3.32 <class 'float'>

In [46]:
name= "Ala"
x = name + " ma kota"
print(x)

Ala ma kota

Zmienne typu logicznego (boolean, bool)

In [48]:
a= True # False
print(a)

True

In [49]:
5 == 5

True

In [50]:
a =  (5 == 5)
print(a)

True

In [56]:
x = 5
if x = 5: # Powinno być ==
    print(x)

SyntaxError: invalid syntax (<ipython-input-56-da6ebd424689>, line 2)

Complex

In [62]:
a= 1j + 8

In [58]:
a

(8+1j)

In [59]:
a+a

(16+2j)

In [69]:
del j
a = 10 + j

NameError: name 'j' is not defined

In [66]:
a = 10 + 1.0123123123j

### Pytania i odpowiedzi:

In [71]:
# Utworz zmienną przechowującą napis, liczbę typu float i liczbę typu integer.
x = 1232.2321

In [72]:
type("Ala ma kota")

str

In [73]:
type(1.0)

float

In [74]:
a= 10
type(a)

int

In [77]:
a= 10
b= 0.0
type(a+b)

float

In [84]:
print(bool("a"))

True

In [85]:
print(bool(""))
print(bool(0))
print(bool(0.))
print(bool(None))

False
False
False
False

In [93]:
if 1==1:
print("Ala ma kota")

IndentationError: expected an indented block (<ipython-input-93-98c7ec7e17a8>, line 2)

### Działania na zmiennych - operatory: +,-,*,/,//,%,=,==

In [97]:
a= 10
print(2*a)

20

In [98]:
a/2

5.0

In [100]:
a/3

3.3333333333333335

In [101]:
a//3

3

In [102]:
a%3

1

In [103]:
a + a

20

In [124]:
a += 5 # to jest skrót dla zapisu a = a + 5
print(a)

1430511474609375

Operatory realizują różne funkcje dla zmiennych o różnych typach.

In [129]:
a="Ala ma kota "
print(5*a)

Ala ma kota Ala ma kota Ala ma kota Ala ma kota Ala ma kota

In [130]:
a/2 # a//2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [132]:
"%.5f" % 2

'2.00000'

In [133]:
a+a

'Ala ma kota Ala ma kota '

Funkcje logiczne

In [134]:
(True and True)

True

In [135]:
False and True

False

In [136]:
False or True

True

In [137]:
(False or True) and True

True

In [138]:
(3>5) or True

True

In [139]:
not True

False

In [140]:
1+1+1 == 3

True

In [141]:
0.1 + 0.1 + 0.1 == 0.3

False

In [144]:
0.3

0.3

### Operator `in`

In [148]:
'm' in "Ala ma kota"

True

In [146]:
'K' in "Ala ma kota"

False

### Pytania i odpowiedzi

zastąp `?`

In [149]:
if 3 == 7 or 0 == 0:
  print("At least one of the statements is true")

At least one of the statements is true

In [152]:
if 3 != 5:
  print("If 3 not equal 5")

If 3 not equal 5

### Grupy zmiennych / kontenery

#### Listy:
* Jaka jest idea?

In [154]:
a= [1,2,3,4]
type(a)

list

In [155]:
a[0] = 10
print(a)

[10, 2, 3, 4]

In [156]:
len(a)

4

In [157]:
del a[1]
print(a)

[10, 3, 4]

In [162]:
a.append(8)
print(a)

[10, 3, 4, 8, 8, 8, 8, 8]

In [168]:
a.insert(0,-12)
print(a)

[-12, -12, -12, -12, -12, 10, -12, 3, 4, 8, 8, 8, 8, 8]

In [169]:
a = a + [1,2,3,4]
print(a)

[-12, -12, -12, -12, -12, 10, -12, 3, 4, 8, 8, 8, 8, 8, 1, 2, 3, 4]

In [173]:
x= ["Ala", [1,2,3], 6.9, {1,2,3},(1,2)]
print(x)
print(x[1][1])

['Ala', [1, 2, 3], 6.9, {1, 2, 3}, (1, 2)]
2

In [179]:
1 in x[1]

True

#### Krotki (ang. tuple):

In [180]:
a = (1,2,3,4)
print(a)

(1, 2, 3, 4)

In [181]:
a[0]=5

TypeError: 'tuple' object does not support item assignment

In [182]:
print(a[0])

1

In [188]:
(x,_,_,w) = list(a)
print(w)

4

In [189]:
a,b,c= 1,10.,"X"

In [190]:
a= 10
b= 15
a,b= b,a
print(a)

15

### Zbiory

In [191]:
a= {1,1,3,4,5}
print(a)

{1, 3, 4, 5}

In [192]:
1 in a

True

In [193]:
a.add('a')
a.add('a')
print(a)

{1, 3, 4, 5, 'a'}

In [194]:
b = {1,4,7,8}

In [195]:
a | b # or

{1, 3, 4, 5, 7, 8, 'a'}

In [196]:
a & b # and

{1, 4}

In [197]:
a ^ b # xor

{3, 5, 7, 8, 'a'}

In [198]:
a - b

{3, 5, 'a'}

### Słowniki

In [201]:
a= {"age": 10, "name":"Bob","phone":"+11 111 222 333"}
print(a)

{'age': 10, 'name': 'Bob', 'phone': '+11 111 222 333'}

In [202]:
print(a["age"])

10

In [203]:
a["second_name"] ="John"
print(a)

{'age': 10, 'name': 'Bob', 'phone': '+11 111 222 333', 'second_name': 'John'}

In [204]:
a.values()

dict_values([10, 'Bob', '+11 111 222 333', 'John'])

In [207]:
a.keys()

dict_keys(['age', 'name', 'phone', 'second_name'])

In [205]:
for key in a:
    print(key)

age
name
phone
second_name

In [208]:
for key, value in a.items():
    print(key, " ", value)

age   10
name   Bob
phone   +11 111 222 333
second_name   John

### Pytania i odpowiedzi

In [214]:
# Wyświetl ostatni element z listy
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [215]:
# Wyświetl liczbę elementów w liście
a = [1,2,3,4,5,6]
print(len(a))

6

In [216]:
# Wyświetl pierwszy element z listy:
a = [1,2,3,4,5,6]
print(a[0])

1

In [217]:
# Co może wyświetlić poniższy kod?
a= [1,2,3,4,5,6]
print(a[1:4]) # ?

[2, 3, 4]

---
### Instrukcje warunkowe i pętle

IF-ELIF-ELSE

In [221]:
a= 12
if a<10:
    print("X")
elif a<15:
    print("Y")
else:
    print("Z")

Y

In [230]:
users= ["Ala", "Gosia", "Kasia"]
name= input("Write your name: ") # Nowy element! Co robi?
if name in users:
    print("You are one of the users. You have access to this branch")
else:
    print("You are not a user!")

Write your name: asdasdasd
You are not a user!

FOR

In [231]:
x= 10232
for x in [1,2,6]:
    print(x)

1
2
6

In [232]:
print(x)

6

In [235]:
x2 = []
for x in range(10):
    print(x, x**2)
    x2.append(x**2)
    # funkcja_od(x)
    
print(x2)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [238]:
for letter in "Some long text":
    print(letter)

S
o
m
e

l
o
n
g

t
e
x
t

In [245]:
for x in 10:
    print(x)

TypeError: 'int' object is not iterable

In [248]:
for x in {12,23,54,12}:
    print(x)

12
54
23

In [247]:
x = [1,2,3,4]
for i in range(len(x)): # Bad pattern!
    print(x[i])

1
2
3
4

WHILE

In [249]:
i= 0
while i<10:
    i= i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [250]:
print(i)

10

Continue i break

In [251]:
# Przeanalizujmy:
i= 0
while i<10:
    i= i+1
    if i == 4:
        continue
    print(i)

1
2
3
5
6
7
8
9
10

In [254]:
# Przeanalizujmy:
i= 0
while i<10:
    i= i+1
    if i == 4:
        break
    print(i)

1
2
3

--- 
## Moduły

Wiele funkcji, których często potrzebujemy możemy znaleźć w bibliotekach dostępnych w każdym interpreterze Pythona. Pełną listę tych bibliotek znaleźć możemy w [dokumentacji](https://docs.python.org/3/library/).

Najważniejsze z nich to:
* sys
* os
* math
* glob
* time
* argparse

Obok nich istnieje też bardzo wiele modułów (zwanych też bibliotekami) nie należących do biblioteki standardowej, które trzeba zwykle zainstalować samodzielnie (dwa najważniejsze narzędzia do instalacji modułów to: `pip` i `conda`. Powiemy o nich więcej na spotkaniu dotyczącym bibliotek). Najważniejsze z nich to:
* matplotlib - tworzenie wykresów
* scipy - scientific Python,
* numpy - numerical Python,
* pandas - DataFrames, praca z danymi,
* scikit-learn - uczenie maszynowe,
* tensorflow i keras - uczenie maszynowe (sieci neuronowe),
* astropy - zbiór narzędzi dla astronomów.

In [255]:
import math # Tak importujemy bibliotekę

print(math.pi)

3.141592653589793

In [256]:
import numpy as np
np.abs([-10,10])

array([10, 10])

In [257]:
import biblioteka_ktorej_nie_ma

ModuleNotFoundError: No module named 'biblioteka_ktorej_nie_ma'

In [258]:
dir(math) # zwraca listę zawierającą funkcje dostępne w module math

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [259]:
help(math.isclose)

Help on built-in function isclose in module math:

isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
    Determine whether two floating point numbers are close in value.

      rel_tol
        maximum difference for being considered "close", relative to the
        magnitude of the input values
      abs_tol
        maximum difference for being considered "close", regardless of the
        magnitude of the input values

    Return True if a is close in value to b, and False otherwise.

    For the values to be considered close, the difference between them
    must be smaller than at least one of the tolerances.

    -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
    is, NaN is not close to anything, even itself.  inf and -inf are
    only close to themselves.

In [274]:
print(0.1+0.1+0.1 == 0.3)
print(math.isclose(0.1+0.1+0.1,0.3,rel_tol=1e-17, abs_tol=1.0e-17))

False
False

## Funkcje

Bardzo często wykorzystwane fragmenty kodu, dobrze jest wydzielić w postacji funkcji. Dzięki funkcjom kod zyskuje na czytelności i jest łatwiejszy do rozwijania.

Dodatkowo nie musimy wiedzieć jak funkcja rozwiązuje pewniem problem - wystarczy, że rozumiemy jakie przyjmuje argumenty i jaki zwraca wynik.

In [275]:
def function(arg1, arg2, arg3):
    """
    Compute average of three numbers
    Other comments
    """
    return (arg1+arg2+arg3)/3

In [276]:
help(function)

Help on function function in module __main__:

function(arg1, arg2, arg3)
    Compute average of three numbers
    Other comments

In [277]:
result= function(1,2,3)
print(result)

2.0

In [287]:
x = 10
def function(arg1, arg2, arg3):
    """
    Compute average of three numbers
    Other comments
    """
    x = 5
    print(x) # Rozwiewa wątpliwości dotyczące zakresów istnienia zmiennych
    return (arg1+arg2+arg3)/3

avr= function(1,2,3)
print(avr)
print(x)

5
2.0
10

#### Jak napisać dobrą funkcję?

In [301]:
# Chcę poznać wartość średniej ze 100 pomiarów
import random

no_measurements= 100
measurements= []
for _ in range(no_measurements):
    single_measurement= random.randint(0,10)
    measurements.append(single_measurement)
print(measurements)

[3, 6, 5, 10, 3, 0, 9, 9, 8, 4, 3, 4, 3, 3, 5, 6, 2, 10, 4, 5, 8, 5, 4, 1, 8, 4, 5, 5, 2, 0, 3, 0, 5, 2, 8, 0, 3, 1, 6, 3, 0, 9, 8, 10, 3, 10, 5, 6, 7, 9, 9, 10, 6, 4, 4, 5, 10, 1, 8, 0, 6, 8, 9, 4, 10, 0, 4, 9, 8, 10, 0, 9, 0, 1, 7, 5, 10, 1, 10, 9, 3, 5, 2, 6, 1, 9, 0, 4, 9, 9, 6, 0, 2, 7, 4, 3, 10, 7, 5, 2]

In [298]:
cumulative= 0
for single_measurement in measurements:
    cumulative = cumulative + single_measurement
    # cumulative += single_measurement
average_of_measurements= cumulative/no_measurements
print(average_of_measurements)

4.9

In [308]:
def average(measurements):
    cumulative= 0
    for single_measurement in measurements:
        cumulative += single_measurement
    return cumulative/len(measurements)

In [310]:
x = average(measurements)
print(x)
# ---
print(average(measurements))

5.13
5.13

In [311]:
type(None)

NoneType

In [312]:
# Chcę policzyć silnię z N

In [313]:
N= 5
N_factorial = 1.
for i in range(1,N+1):
    N_factorial= N_factorial*i
print(N_factorial)

120.0

In [330]:
def factorial(N):
    N_factorial = 1
    for i in range(1,N+1):
        N_factorial*=i
    return N_factorial

print(factorial(10))

3628800

In [ ]:
# Chcę żeby w zmiennej a była zawsze większa liczba, w zmiennej b mniejsza

In [331]:
a= 10
b= 15
if a<b:
    temp=a
    a=b
    b=temp
print("a = ", a,"; b = ",b)

a =  15 ; b =  10

In [336]:
def swap_first_bigger(a,b):
    if a<b: 
        a,b=b,a
    return a,b

In [337]:
a= 10
b= 15
a,b= swap_first_bigger(a,b)
print("a = ", a,"; b = ",b)

a =  15 ; b =  10

In [ ]:
# Sortowanie listy liczb

Example:
First Pass:
1. ( 5 1 4 2 8 ) –> ( 1 5 4 2 8 ), Here, algorithm compares the first two elements, and swaps since 5 > 1.
2. ( 1 5 4 2 8 ) –>  ( 1 4 5 2 8 ), Swap since 5 > 4
3. ( 1 4 5 2 8 ) –>  ( 1 4 2 5 8 ), Swap since 5 > 2
4. ( 1 4 2 5 8 ) –> ( 1 4 2 5 8 ), Now, since these elements are already in order (8 > 5), algorithm does not swap them.

Second Pass:
1. ( 1 4 2 5 8 ) –> ( 1 4 2 5 8 )
2. ( 1 4 2 5 8 ) –> ( 1 2 4 5 8 ), Swap since 4 > 2
3. ( 1 2 4 5 8 ) –> ( 1 2 4 5 8 )
4. ( 1 2 4 5 8 ) –>  ( 1 2 4 5 8 )

Now, the array is already sorted, but our algorithm does not know if it is completed. The algorithm needs one whole pass without any swap to know it is sorted.

Third Pass:
1. ( 1 2 4 5 8 ) –> ( 1 2 4 5 8 )
2. ( 1 2 4 5 8 ) –> ( 1 2 4 5 8 )
3. ( 1 2 4 5 8 ) –> ( 1 2 4 5 8 )
4. ( 1 2 4 5 8 ) –> ( 1 2 4 5 8 )

In [338]:
import numpy as np
x= [5, 1, 4, 2, 3]

n= len(x)
for i in range(n):
    print("Last ",i, "already sorted!")
    for j in range(0, n-i-1): 
        if x[j] > x[j+1]: 
            x[j], x[j+1] = x[j+1], x[j]
            print(j,j+1, " swapped:")
        print(x)
print(x)

Last  0 already sorted!
0 1  swapped:
[1, 5, 4, 2, 3]
1 2  swapped:
[1, 4, 5, 2, 3]
2 3  swapped:
[1, 4, 2, 5, 3]
3 4  swapped:
[1, 4, 2, 3, 5]
Last  1 already sorted!
[1, 4, 2, 3, 5]
1 2  swapped:
[1, 2, 4, 3, 5]
2 3  swapped:
[1, 2, 3, 4, 5]
Last  2 already sorted!
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
Last  3 already sorted!
[1, 2, 3, 4, 5]
Last  4 already sorted!
[1, 2, 3, 4, 5]

In [ ]:
def bubble_sort(x):
    # https://youtu.be/lyZQPjUT5B4
    n= len(x)
    for i in range(n):
        for j in range(0, n-i-1): 
            if x[j] > x[j+1]: 
                x[j], x[j+1] = x[j+1], x[j]

x= [5, 1, 4, 2, 3]
bubble_sort(x)
print(x)