# Zadania

1. Żeby utrwalić sobie składnię w krótkich pytaniach i odpowiedziach, radzę zajrzeć do testów na stronie: https://www.w3schools.com/python/exercise.asp. Tutorial na W3 jest dużo bardziej kompletny pod kątem wprowadzania różnych elementów języka: https://www.w3schools.com/python/.
2. Poniżej znajduje się kilka zadań na przećwiczenie tych podstaw.

## Zadanie -1.

Przypisz do zmiennych przykładową liczbę całkowitą, liczbę zmiennoprzecinkową, napis, listę, krotkę, słownik i zbiór.

In [ ]:
a= 10
print(a)
#b= ... itd.
# print(b)

## Zadanie 0.

Przećwicz definiowanie funkcji. W tym celu napisz funkcję, która oblicza iloczyn dwóch liczb.

In [ ]:
a= 10; b=15
# ... itd

### Zadanie 1.

Niech a=3, b=4 i c=5 będą bokami trójkąta. Policz pole tego trójkąta ze wzoru Herona. (podpowiedź: wykorzystaj funkcję `sqrt()` - pierwiastek kwadratowy)
$$
s = \frac{a+b+c}{2}
$$
$$
A= \sqrt{s(s-a)(s-b)(s-c)}
$$

## Zadanie 2.

Wydrukuj imiona przy pomocy funkcji `print` w kolejnych liniach: x= ["Ala","Basia","Kasia,"Zosia"]. Spróbuj użyć pętli `for`.

Ala

Basia

Kasia

Zosia

## Zadanie 3.

Napisz funkcję do wyświetlania na ekranie choinki z gwiazdek:

In [ ]:
#      *  
#     ***
#    *****
#   *******
#  *********
# ***********
#     ***
#     ***

In [ ]:
# Poeksperymentuj z poniższym kodem:
for i in range(10):
    print(i*" ",(10-i)*"*")

## Zadanie 4. (żmudne)

Wpisując datę w postaci: year, month, day sprawdź czy jest ona "możliwa".

* Miesięcy jest 12,
* Dni w miesiącu może być: 31,30,28 lub 29.
* Rok jest przestępny kiedy:
  * jest podzielny przez 4 i niepodzielny przez 100
  * lub jest podzielny przez 400

Możesz spróbować utworzyć funkcję: `is_date_ok(day, month, year)`.

In [ ]:
# przykład możliwej daty
day= 10
month=2
year= 2015

In [ ]:
# przykład niemożliwej daty
day= 30
month= 2
year= 2015

## Zadanie 5.

Napisz program, który wyświetli 30 kopii tekstu wprowadzonego przez użytkownika, każdy raz w nowej linii i ponumeruje linie. Użyj funkcji `input()`. Np.:

1 kot

2 kot

3 kot

itd aż do

30 kot

## Zadanie 6.

Stwórz listę studentów: Kasia, Basia, Marek, Darek.
* Korzystając z funkcji `append` dodaj do listy Józka.
* Korzystając z funkcji `extend` dodaj do listy Anię i Basię.
* Posortuj alfabetycznie studentów.
* Wypisz na ekranie:
  * czwartego studenta na liście
  * dwóch pierwszych studentów na liście
  * dwóch ostatnich studentów na liście
* Korzystając z funkcji `remove` usuń wszystkie Basie.
* Korzystając z funkcji `len` sprawdź liczbę studentów.
* Z ostatecznej listy studentów utwórz krotkę.

## Zadanie 7.

Użyj funkcji wbudowanej `sum` żeby policzyć średnią z poniższej listy.

In [ ]:
lista= list(range(6,20,3)) # Czy potrafisz odgadnąć co oznaczają kolejne argumenty funkcji range()?
print(lista)

## Zadanie 8.

Wypełnij listę kwadratami kolejnych liczb naturanych do 20 włącznie.

`[0,1,4,9,...,400]`

## Zadanie 9.

Napisz program, który sprawdzi czy podana litera alfabetu jest samogłoską czy spółgłoską.

podpowiedź: `letter in "aouye"`

In [ ]:
letter= "a"

## Zadanie 10.
Napisz kod który sprawdzi czy liczba jest parzysta czy nieparzysta i wyświetli informację na ten temat. (Pomyśl o reszcie z dzielenia przez 2)

(ciekawostka: spróbuj zrobić to też bez instrukcji `if`)

## Zadanie 11.

Napisz kod który wyświetli N kolejnych elementów ciągu Fibbonaciego: 1 1 2 3 5 8 itd.

## Zadanie 12.

Napisz 2 funkcje:
* do liczenia sumy liczb w podanej liście,
* do liczenia iloczynu liczb w podanej liście.

In [ ]:
lista= [1,6,2,4,8,4,2,3,6]
# suma : 36
# iloczyn : 55296

## Zadnie 13. (trudniejsze)

Napisz funkcję która obliczy największy wspólny dzielnik dwóch liczb. Wykorzystaj [algorytm Euklidesa](https://pl.wikipedia.org/wiki/Algorytm_Euklidesa).

## Zadanie 14.
Napisz kod który wyświetla najmniejszą liczbę w liście.

In [ ]:
lista= [1,5,3,7,4,2,3,67,7,2]

## Zadanie 15.

Napisz funkcję, która zwraca pierwszy i ostatni element podanej listy, np.
`a=[1,2,5,1,2,6,8,4,10]`

In [ ]:
a=[1,2,5,1,2,6,8,4,10]

## Zadanie 17.

Dodaj do słownika pod kluczem "Krzysztof" wartość: "+48 111 222 333" i usuń wpis dotyczący Kamila. Wyświetl wszystkie numery telefonów wraz w imonami wiersz po wierszu.

In [ ]:
tel= {"Zbigniew":"+42 023 123 222",
      "Kamil": "+23 232 221 454",
      "Michał": "+12 222 782 553",
      "Piotr": "+77 123 232 212"
     }

## Zadanie 18.

Zmodyfikuj kod tak, żeby wyświetlał funkcję `cos()` w przedziale od 10 do 30. Zadbaj o poprawną etykietę i tytuł.

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x= np.arange(0,10,0.01)
y= np.sin(x)

plt.figure(figsize=(12,6))
plt.plot(x,y,label="y=sin(x)")
plt.xlabel("x")
plt.ylabel("y")
plt.title("Funkcja y=sin(x)")

plt.legend()
plt.show()

## Zadanie 19. 

Zmień jeden fragment w kodzie, żeby zamiast rosnąco funkcja sortowała malejąco:

In [ ]:
def insertionSort(arr): 
    # Insert sort simply explained:
    # https://youtu.be/ROalU379l3U
    for i in range(1, len(arr)): 
        key = arr[i] 
        j = i-1
        while j >=0 and key < arr[j] : 
            arr[j+1] = arr[j] 
            j -= 1
        arr[j+1] = key

x= [12,52,7,6,34,2]
insertionSort(x)
print(x)

## Zadanie 20.

Wyznacz sekwencję komplementarną do danej. Dane litery przechodzą an inne według przepisu:
* A -> T
* C -> G
* T -> A
* G -> C

i wynik jest odwrócony, np.
```
s = "GTACAGTACGATCGATCGACACCGTGTGTACACATACGAGGGCACTTACCGATCG"
expected_solution = "CGATCGGTAAGTGCCCTCGTATGTGTACACACGGTGTCGATCGATCGTACTGTAC"
```

In [4]:
s = "GTACAGTACGATCGATCGACACCGTGTGTACACATACGAGGGCACTTACCGATCG"
expected_solution = "CGATCGGTAAGTGCCCTCGTATGTGTACACACGGTGTCGATCGATCGTACTGTAC"